/***********************************************\

		@ author : owen | 欧阳湘粤;
		@ github : github.com/bilibiliou;
		@ mail   : 469564715@qq.com;
		@ QQ     : 469564715;

\***********************************************/

/* Consolas */
@font-face {
	font-family:'Consolas';
	src:url('../font/Consolas.eot');
	src:url('../font/Consolas.eot') format('embedded-opentype'),
	url('../font/Consolas.woff') format('woff'),
	url('../font/Consolas.ttf') format('truetype'),
	url('../font/Consolas.svg') format('svg');font-weight:normal;font-style:normal
}

* {
	box-sizing: border-box;
	font-family: "Consolas","微软雅黑";
	outline: none;
}

i {
	font-style: normal;
}

a {
	text-decoration: none;
	transition: 0.4s;
}

a:hover {
	color: #66D9EF;
}

h1,h2 {
	font-size: 100%;
	font-weight: 200;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
}

input {
	border: none;
	padding: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

table {
	border-collapse: collapse;
}

td {
	padding: 0;
}

p {
	margin: 0;
}

.clearfix {
	display: table;
	zoom: 1;
}

.clearfix::after {
	content:"";
	width: 0;
	height: 0;

	clear: both;
	display: block;
	visibility: visible;
}

.clear-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container {
	width: 100%;
	height: auto;
	min-width: 900px;
}

.header {
	width: 100%;
	height: 55px;
	background: #4C89BB;

	overflow: hidden;
	padding-top: 10px;
}

.logo {
	float: left;
	width: 36px;
	height: 36px;

	background: url(../images/header/header.png) 0 0;
	margin: 0 0 0 45px;
}

.sign-user {
	display: inline-block;
	width: 18px;
	height: 14px;

	background: url(../images/header/header.png) -38px -22px;
}

.sign-in {
	float: right;
	width: auto;
	height: 25px;
	
	margin: 4px 90px 0 18px;
	font: 100 12px/12px inherit;
}

.sign-in span {
	color: #fff;
}

.search-bar {
	float: right;
	width: 310px;
	height: 28px;

	background: #fff;
	border-radius: 14px;
	margin: 4px 0 0 0;
	padding: 0 18px;
}

.search-magnifier {
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 6px;

	background: url(../images/header/header.png) -38px 0px;
} 

.search-input {
	float: left;
	width: 258px;
	height: 100%;
	
	text-indent: 5px;
}

.left-side {
	float: left;
	width: 17%;
	height: 1210px;
	padding-top: 18px;
	overflow: hidden;
	background: #302938;
}

.left-side-header {
	width: 100%;
	overflow: hidden;
}

.avatar {
	width: 185px;
	height: 58px;
	padding: 0 0 0 45px;
}
.avatar-wrap {
	float: left;
	width: 58px;
	height: 58px;

	padding: 5px;
	background: url(../images/left-side/left-side.png) 0px 0px;
}

.avatar-img {
	float: left;
	display: block;
	width: 45px;
	height: 45px;

	border-radius: 50%;
	overflow: hidden;
	background: url(../images/left-side/avatar.png)
}

.avatar-name {
	float: left;
	
	margin: 20px 0 0 16px;
	font: 300 16px/21px inherit;
}

.avatar-name span {
	color :#f6f3f2;
}

.user-info {
	width: 115px;
	height: 40px;

	margin: 20px 0 0 45px;
	clear: both;
}

.user-info a {
	display: inline-block;
	width: 50px;
	height: auto;

	color: #767f92;
	font: 100 16px/18px "微软雅黑";
	text-align: center;
}
.user-info a:hover {
	color: #fff;
}

.user-collection {
	float: left;
}

.user-fans {
	float: right;
}

#left-side-list {
	width: 100%;
	height: auto;
	font: 200 12px/16px "Consolas","微软雅黑";
	padding: 20px 0 0;
	overflow: hidden;
}

.list-module {
	width: 100%;
	padding: 10px 0 15px 40px;
	overflow: hidden;
}

.click-active {
	background: #3E384A;
}

.click-active .list-module-title {
	color: #fff;
}

.list-module-title-wrap {
	height: 25px;
	
	padding: 5px 0 5px 5px;
}

.list-module-title-wrap-icon {
	display: inline-block;
	width: 12px;
	height: 10px;
	background: url(../images/left-side/left-side.png) -70px -0px;
}

.list-module-title {
	color: #767f92;
}


.folders-list {
	padding-left: 25px;
}

.folders-list-module {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.list-module:hover {
	background: #3E384A; 
}

.folders-list-module-wrap {
	height: 20px;
	padding-top: 4px;
}

.folders-list-module-wrap span {
	float: left;
	display: block;
	width: 13px;
	height: 13px;
	margin-right: 4px;
}

.folders-list-module-wrap-icon-folder {
	background: url(../images/left-side/left-side.png) -103px -25px;
}

.folders-list-module-wrap-icon-arrow {
	background: url(../images/left-side/left-side.png) -13px -62px;
}

.folder-active .folders-list-module-wrap-icon-folder {
	background: url(../images/left-side/left-side.png) -72px -25px;
}

.folder-active  .folders-list-module-wrap-icon-arrow {
	background: url(../images/left-side/left-side.png) -32px -63px;
}

.folder-active .folders-list-module-wrap-title {
	color: #fff !important;
}

.folders-list-module-wrap .folders-list-module-wrap-title {
	float: left;
	width: auto;
	height: 20px;
	color: #767F92;
}

.file-list {
	padding-left: 25px;	
}

.file-list-module {
	width: 100%;
	overflow: hidden;
}

.file-list-module-wrap {
	width: 100%;
	height: 20px;
	padding-top: 4px;
}

.file-list-module-wrap-file {
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url(../images/left-side/left-side.png) -70px -44px;
}

.file-list-module-wrap-title {
	color: #767F92;
}

.icon-share {
	background: url(../images/left-side/left-side.png) -102px -47px;
}

.icon-collect {
	background: url(../images/left-side/left-side.png) -70px -65px;
}

.icon-account {
	background: url(../images/left-side/left-side.png) -100px -2px;
}

.content {
	overflow: hidden;
	width: 83%;
	height: 1210px;

	background: #EEEBE9;
}

.task-process {
	width: 100%;
	height: 30px;

	background: #FEFEFE;
	padding: 8px 0 0 30px;
}

.task-process-list {
	height: 22px;
	width: auto;
	
	color: #aca8a7;
	font: 200 16px/16px "Consolas","微软雅黑";
}

.task-process-list li {
	float: left;
}
.task-process-active a {
	color: #66D9EF !important;
}

.task-search {
	width: 893px;
	height: 87px;
	margin: 10px auto 0;
	padding: 15px 100px 0;
	background: #fff;
}

.task-search-wrap {
	width: auto;
	height: 72px;
}

.task-search-wrap li {
	float: left;
	height: 100%;
}

.task-search-wrap span {
	font: 200 12px/16px "Consolas","微软雅黑";
	color: #aca8a7;
}

.chose-search {
	position: relative;
	margin-left: 10px;
}

.the-third-li {
	width: 275px;
	margin-left: 30px;
}

.f-block {
	float: left;
}

.chose-search span {
	float: left;
	margin: 5px 10px 0 0;
}


.select-block {
	width: auto;
	height: auto;

	margin: 5px;
}
.select {
	float: left;
	position: relative;
	overflow: hidden;

	height: 25px;
	border: 1px solid #BBBBBB;
	color: #322e30;
	cursor: pointer;
}

.select h1 {
	width: auto;
	padding: 5px 20px 5px 5px;

	font: 200 12px/14px "Consolas","微软雅黑";
}

.select-arrow {
	position: absolute;
	right: 5px;
	top: 0;

	display: block;
	width: 10px;
	height: 25px;
	background: url(../images/content-module1/content-module1.png) 0px 7px;
}

.chose-search .select-user {
	width: 120px;
}

.chose-search-change {
	position: absolute;
	right: -35px;
	top: 0;
	width: 35px;
	height: 72px;
	background: url(../images/content-module1/content-module1.png) -22px 15px no-repeat;
}

.chose-search-btn {
	width: 50px;
	height: 25px;
	color: #fff;
	background: #568ABD;
	
	font-size: 12px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;

}

.task-calendar {
	width: 893px;
	height: 65px;

	margin: 10px auto 0;	
}

.task-calendar-arrow {
	float: left;
	position: relative;
	width: 35px;
	height: 100%;
	background: #fff;
}

.tc-rr {
	margin-left: 6px;
}

.task-calendar-arrow a{
	position: absolute;
	top: 38%;
	left: 50%;
	
	width: 12px;
	height: 18px; 

	margin-left: -6px;
	margin-right: -9px;
	display: block;
}

.left-arrow {
	background: url(../images/content-module2/content-module2.png) -3px -3px no-repeat;	
}

.right-arrow {
	background: url(../images/content-module2/content-module2.png) -16px -3px no-repeat;
}

.task-calendar-block {
	float: left;
	width: 110.5px;
	height: 100%;
	
	margin-left: 6px;
	background: #fff;
}

.task-calendar-block-border {
	width: 100%;
	height: 4px;
}

.block-active {
	background: #5D89C5;
}

.task-calendar-block-wrap {
	width: 100%;
	height: 61px;

	padding: 10px 10px 0;
	font-size: 14px;
}

.task-calendar-block-wrap h1 {
	width: 100%;
	height: 12px;
	color: #000;
	text-align: center;

	margin-bottom: 8px;
}

.task-calendar-block-wrap h2 {
	color: #ACA8A8;
	text-indent: 8px;
}

.task-calendar-block-wrap h2 span {
	font-size: 25px;
	color: #E97526;
}

.task-calendar-history {
	width: 100%;
	height: 100%;

	padding: 12px 10px;
}

.task-calendar-history a {
	width: 100%;
	height: 100%;
	display: block;
}

.history {
	display: inline-block;
	width: 32px;
	height: 100%;
	background: url(../images/content-module2/content-module2.png) 0px -18px no-repeat;
}

.search-history {
	display: inline-block;
	color: #686161;
	font-size: 12px;
	line-height: 45px;
	vertical-align: top;
	color: #545052;
}

.task-count {
	width: 893px;
	height: 90px;
	margin: 18px auto;
}

.task-count-block {
	float: left;
	width: 208px;
	height: 66px;

	margin-right: 20px;
	box-shadow: 0px 0px 2px #ccc; 
}

.tc-title {
	font-weight: 500;
}

.tc-o-block {
	background:#51B3A2;
}

.tc-tw-block {
	background:#568ABD;
}

.tc-ti-block {
	background:#C84A3E;
}

.tc-fo-block {
	background:#D9CD50;
}

.zero-margin {
	margin: 0;
}

.task-count-border {
	float: left;
	width: 4px;
	height: 100%;
}

.task-count-bolck {
	float: left;
	width: 204px;
	height: 100%;
	
	background: #fff;
	padding: 10px;
}

.count-content {
	float: left;
	width: 60px;
	height: 45px;
}

.color-bolck {
	float: right;
	width: 60px;
	height: 45px;
}

.count-content h2 {
	font-size: 10px;
	line-height: 25px;
	text-indent: 4px;
	color: #aca8a7;
}

.task-content {
	width: 893px;
	height: 722px;
	margin: 0 auto;
}

.task-content>div {
	float: left;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #ccc;
	overflow: hidden;
}

.task-table1 {
	width: 530px;
	height: 355px;
}

.tb1-margin-t {
	margin-top:8px;
}

.task-table2 {
	width: 350px;
	height: 355px;
}

.r-ten-margin {
	margin-right: 10px;margin: ;
}

.tb2-margin {
	margin: 8px 10px 0 0
}

.tbc-padding {
	padding:10px 24px 13px;
}

.task-table-wrap {
	width: 100%;
	height: 40px;
	background: #F4F3F3;

	padding: 12px 0 0 20px;
	border-bottom: 1px solid #ccc;
}

.task-table-wrap h1 {
	font: 400 12px/14px "Consolas","微软雅黑";
	color: #aca8a7;
}

.task-table1-content {
	width: 100%;
	height: 305px;

	padding: 10px 18px 25px;
}

.task-table-tabs {
	width: 100%;
	height: 27px;

}

.task-table-tabs li {
	float: left;
	position: relative;
	width: 82px;
	height: 100%;
	
	font: 200 12px/25px "Consolas","微软雅黑";
	
	border-radius: 3px;
	background: #EDEAEC;

	margin-right: 3px; 	
	color: #545052;
	text-align: center;
}

.task-table-tabs li::after {
	position: absolute;
	bottom: -2px;
	left: 0;
	content: "";
	display: block;
	width: 80px;
	height: 4px;

	background: transparent;
}

.task-table-tabs .tabs-active {
	border: 1px solid #ccc;
	border-bottom: none;
	background: #fff;
}

.task-table-tabs .tabs-active::after {
	background: #fff;
}

.task-table-content-wrap {
	width: 100%;
	height: 252px;
	border: 1px solid #ccc;
	background: #fff;

	padding: 25px;
}

.task-table-content-wrap li table {
	width: 100%;
	height: 100%;
	font: 200 12px/18px "微软雅黑";
	text-align: center;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.task-table-content-wrap li table td {
	height: 29px;
	font-weight: bold;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.td-active {
	background: #F4F3F3;
}

.task-table2-content {
	width: 100%;
	height: 314px;

	padding: 10px 24px 26px;
}

.task-table2-content-title {
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
}

.task-table2-content h1 {
	width: 100%;
	height: 18px;

	color: #c4bfbe;
	font: 200 12px/25px "Consolas","微软雅黑";
}

.task-table2-content h2 {
	font: 500 14px/25px "Consolas","微软雅黑";
}

.task-table2-content-bar>div{
	float: left;
	height: 43px;
	padding-left: 10px;
}

.bar-cell-l {
	width: 99px;
	border-right: 1px solid #ccc;
}

.bar-cell-r {
	width: 200px;
}

.task-table2-content-con {
	width: 100%;
	
	padding-left: 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.task-table2-content-con p {
	width: 100%;
	height: 130px;
	font: 500 14px/25px "Consolas","微软雅黑";
}

.task-table2-content-footer {
	width: 100%;
}

.task-table2-content-footer .chose-search-btn {
	float: right;
	margin: 4px 0 0 0; 
}

.task-table2-content-footer label input {
	width: 15px;
	height: 15px;
	margin-top: 5px;
	vertical-align: text-bottom;
	
}
.task-table2-content-footer span {
	font: 500 14px/14px "Consolas","微软雅黑";
	cursor: pointer;
}

.task-table2-content-footer span:hover {
	color: #66D9EF;
}

.task-table2-content .select h1 {
	width: auto;
	padding: 5px 20px 5px 5px;
	color: #000;
	font: 200 12px/14px "Consolas","微软雅黑";
}

.task-table3-title {
	width: 100%;
	border-bottom: 1px solid #B7CDEA;
}

.task-table3-title li {
	float: left;
}

.task-table3-body {
	width: 100%;
}

.task-table3-body table {
	margin: 0 auto;
}

.task-table3-body table td:hover {
	cursor: pointer;
	box-shadow: 0 0 1px 1px #F1D99F;
}

.table-title {
	padding-bottom: 3px;
	border-bottom: 1px solid #ccc;
}


.task-table3-body .table-title td{
	font: 500 13px/14px "Consolas","微软雅黑";
}

.task-table3-body .table-title td {
	
	height: 22px;
}

.task-table3-body td {
	width: 40px;
	height: 45px;
	text-align: center;
}

.task-table3-body td h1 {
	color: #000;
}

.task-table3-body td span {
	font: 500 10px/14px "Consolas","微软雅黑";
}

.task-table3-body td .holiday {
	color: red;
}

.vehicle-table th,.vehicle-table td {
	height: 26px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	text-align: left;
}

.vehicle-table {
	width: 100%;
	
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc; 
}

.vehicle-table th {
	text-indent: 10px;
	font: 500 15px/14px "Consolas","微软雅黑";
}

.vehicle-table td {
	text-indent: 15px;
	font: 200 14px/14px "Consolas","微软雅黑";
}

.vehicle-table tr {
	cursor: pointer;
}

.vehicle-table tr:hover {
	background: #f4f3f3;
}

.vehicle-table .vehicle-table-title {
	cursor: default;
}

.vehicle-table .vehicle-table-title:hover {
	background: #fff;
}

.vehicle-table-cell1 {
	width: 67px;
}

.vehicle-table-cell2 {
	width: 90px;
}

.vehicle-table-cell3 {
	width: 290px;
}

.vehicle-table-process {
	display: inline-block;
	width: 168px;
	height: 4px;
	
	vertical-align: top;
	margin-top: 4px;
	background: #dcdad9;
}

.vehicle-table-f-process {
	display: block;
	height: 100%;
}
.process-color-first {
	background:#eb7257;
	width: 80%;
}
.process-color-second {
	background: #ed8456;
	width: 70%;
}
.process-color-third {
	background:#eea155;
	width: 60%;
}
.process-color-blue {
	background:#8dcbee;
}

.process-four {
	width: 50%;
}

.process-five {
	width: 45%;
}

.process-six {
	width: 40%;
}

.process-seven {
	width: 35%;
}

.process-eight {
	width: 30%;
}

.process-nine {
	width: 25%;
}

.process-ten {
	width: 20%;
}