$b-border : 1px solid rgba(0,0,0,.3);
$f-b-radius : 3px;

table {

}

.w {
    width: 100%;
}

.h {
    height: 100%;
}
.calendar-wrap {
    display: inline-block;
    position: relative;
    width: auto;
    
    input[type="text"] {
        width: 200px;
        height: 30px;
        border: $b-border;
    }

    .calendar-input {
        cursor: pointer;
        text-indent: 5px;
        color: rgba(0,0,0,0.6);
    }

    .calendar-table {
        width: 250px;
        height: 250px;
        position: absolute;

        bottom: -260px;
        right: -15%;
        border-radius: 3px;
        background: #e77408;
        

        &::before {
            position: absolute;
            top: -19px;
            left: 50%;

            content: "";
            display: block;

            width: 0;
            height: 0;
            margin-left: -5px;
            z-index: 2;
            border: 10px solid transparent;
            border-bottom: 10px solid #e77408;
        }

        .calendar-caption {
            height: 55px;
            
            border-radius: $f-b-radius;
            .m-date-choose {
                position: relative;
                width: 160px;
                height: 30px;
                margin: 0 auto;
                a {
                    position: absolute;
                    top: 80%;

                    display: block;
                    width: 0;
                    height: 0;
                    border: 6px solid transparent;


                }
                .l-arrow {
                    left: -20px;


                    width: 0;
                    height: 0;
                    margin-top: -15px;
                    margin-left: -3px;
                    border-right: 6px solid #fff;
                    &:hover {
                        border-right: 6px solid #66D9EF;
                    }
                }
                
                .r-arrow {
                    right: -20px;
                
                    margin-top: -15px;
                    margin-right: -3px;
                    border-left: 6px solid #fff;

                    &:hover {
                        border-left: 6px solid #66D9EF;
                    }
                }
                .m-date-list {
                    overflow: hidden;
                    text-align: center;
                    line-height: 35px;
                    font-weight: 200;
                    font-size: 18px;
                    cursor: pointer;
                    li {
                        span {
                            color: #fff;
                            display: inline-block;
                        }
                    }

                    &:hover {
                        background: rgba(215,215,215,0.3);  
                    }
                }
            }
            .week-list-wrap {
                height: 25px;
                .week-list {
                height: 100%;
                font-size: 0;
                padding: 0 5px;
                    li {
                        display: inline-block;
                        color: #fff;
                        width: calc(240px / 7);
                        white-space: nowrap;
                        height: 100%;
                        text-align: center;
                        font: 300 14px/25px Arial;
                    }    
                }
                
            }
            
        }
        
        .calendar-body {
            height: 195px;
            border-radius: 0 0 3px 3px;
            background: #f5f5f5;
            
            table {
                width: 100%;
                height: 100%;
                border-radius: $f-b-radius;
                box-shadow: inset 0px 0px 1px rgba(0,0,0,0.3);

                tbody {
                    text-align: center;
                    font-weight: 100;
                    font-size: 0;
                    tr {
                        td {
                           &:hover {
                              cursor: pointer;
                              box-shadow: inset 0px 0px 4px #66BE91;
                           } 
                        }
                    }
                }
            }

            .n-date-list {
                tbody {
                    tr {
                        font-size: 16px;
                        height: calc(100% / 6);
                        .useless {
                            color: #D3D5D6;

                            &:hover {
                                cursor: default;
                                box-shadow: none;
                            }
                        }
                        .focus {
                            box-shadow: inset 0px 0px 4px #D92672;
                        }    
                    }

                }

            }

            .l-date-list {
                tbody {
                    tr {
                        font-size: 18px;
                        height: calc(100% / 3);
                        .museless {
                            color: #D3D5D6;
                            &:hover {
                                cursor: default;
                                box-shadow: none;
                            }
                        }
                        td {
                            width: calc(100% / 4);
                        }
                    }
                }
            }
        }

        .g-date-list {
            tbody {
                tr {
                    font-size: 20px;
                    height: calc(100% / 3);

                    .yuseless {
                        color: #D3D5D6;
                        &:hover {
                            cursor: default;
                            box-shadow: none;
                        }
                    }
                    td {
                        width: calc(100% / 4);
                    }
                }
            }
        }
    }
}