.w {
  width: 100%;
}

.h {
  height: 100%;
}

.calendar-wrap {
  display: inline-block;
  position: relative;
  width: auto;
}
.calendar-wrap input[type="text"] {
  width: 200px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.calendar-wrap .calendar-input {
  cursor: pointer;
  text-indent: 5px;
  color: rgba(0, 0, 0, 0.6);
}
.calendar-wrap .calendar-table {
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: -260px;
  right: -15%;
  border-radius: 3px;
  background: #e77408;
}
.calendar-wrap .calendar-table::before {
  position: absolute;
  top: -19px;
  left: 50%;
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left: -5px;
  z-index: 2;
  border: 10px solid transparent;
  border-bottom: 10px solid #e77408;
}
.calendar-wrap .calendar-table .calendar-caption {
  height: 55px;
  border-radius: 3px;
}
.calendar-wrap .calendar-table .calendar-caption .m-date-choose {
  position: relative;
  width: 160px;
  height: 30px;
  margin: 0 auto;
}
.calendar-wrap .calendar-table .calendar-caption .m-date-choose a {
  position: absolute;
  top: 80%;
  display: block;
  width: 0;
  height: 0;
  border: 6px solid transparent;
}
.calendar-wrap .calendar-table .calendar-caption .m-date-choose .l-arrow {
  left: -20px;
  width: 0;
  height: 0;
  margin-top: -15px;
  margin-left: -3px;
  border-right: 6px solid #fff;
}
.calendar-wrap .calendar-table .calendar-caption .m-date-choose .l-arrow:hover {
  border-right: 6px solid #66D9EF;
}
.calendar-wrap .calendar-table .calendar-caption .m-date-choose .r-arrow {
  right: -20px;
  margin-top: -15px;
  margin-right: -3px;
  border-left: 6px solid #fff;
}
.calendar-wrap .calendar-table .calendar-caption .m-date-choose .r-arrow:hover {
  border-left: 6px solid #66D9EF;
}
.calendar-wrap .calendar-table .calendar-caption .m-date-choose .m-date-list {
  overflow: hidden;
  text-align: center;
  line-height: 35px;
  font-weight: 200;
  font-size: 18px;
  cursor: pointer;
}
.calendar-wrap .calendar-table .calendar-caption .m-date-choose .m-date-list li span {
  color: #fff;
  display: inline-block;
}
.calendar-wrap .calendar-table .calendar-caption .m-date-choose .m-date-list:hover {
  background: rgba(215, 215, 215, 0.3);
}
.calendar-wrap .calendar-table .calendar-caption .week-list-wrap {
  height: 25px;
}
.calendar-wrap .calendar-table .calendar-caption .week-list-wrap .week-list {
  height: 100%;
  font-size: 0;
  padding: 0 5px;
}
.calendar-wrap .calendar-table .calendar-caption .week-list-wrap .week-list li {
  display: inline-block;
  color: #fff;
  width: calc(240px / 7);
  white-space: nowrap;
  height: 100%;
  text-align: center;
  font: 300 14px/25px Arial;
}
.calendar-wrap .calendar-table .calendar-body {
  height: 195px;
  border-radius: 0 0 3px 3px;
  background: #f5f5f5;
}
.calendar-wrap .calendar-table .calendar-body table {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.calendar-wrap .calendar-table .calendar-body table tbody {
  text-align: center;
  font-weight: 100;
  font-size: 0;
}
.calendar-wrap .calendar-table .calendar-body table tbody tr td:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 4px #66BE91;
}
.calendar-wrap .calendar-table .calendar-body .n-date-list tbody tr {
  font-size: 16px;
  height: calc(100% / 6);
}
.calendar-wrap .calendar-table .calendar-body .n-date-list tbody tr .useless {
  color: #D3D5D6;
}
.calendar-wrap .calendar-table .calendar-body .n-date-list tbody tr .useless:hover {
  cursor: default;
  box-shadow: none;
}
.calendar-wrap .calendar-table .calendar-body .n-date-list tbody tr .focus {
  box-shadow: inset 0px 0px 4px #D92672;
}
.calendar-wrap .calendar-table .calendar-body .l-date-list tbody tr {
  font-size: 18px;
  height: calc(100% / 3);
}
.calendar-wrap .calendar-table .calendar-body .l-date-list tbody tr .museless {
  color: #D3D5D6;
}
.calendar-wrap .calendar-table .calendar-body .l-date-list tbody tr .museless:hover {
  cursor: default;
  box-shadow: none;
}
.calendar-wrap .calendar-table .calendar-body .l-date-list tbody tr td {
  width: calc(100% / 4);
}
.calendar-wrap .calendar-table .g-date-list tbody tr {
  font-size: 20px;
  height: calc(100% / 3);
}
.calendar-wrap .calendar-table .g-date-list tbody tr .yuseless {
  color: #D3D5D6;
}
.calendar-wrap .calendar-table .g-date-list tbody tr .yuseless:hover {
  cursor: default;
  box-shadow: none;
}
.calendar-wrap .calendar-table .g-date-list tbody tr td {
  width: calc(100% / 4);
}

/*# sourceMappingURL=calendar.css.map */
