@charset "UTF-8";
/* reset */
@font-face {
  font-family: "Consolas";
  src: url("../font/Consolas.eot"), url("../font/Consolas.woff") format("woff"), url("../font/Consolas.ttf") format("truetype"), url("../font/Consolas.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  outline: none;
}
*::selection {
  background: transparent;
  color: #1C86D1;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  margin: 0;
  padding: 0;
  background: #EFEFEF;
  font-family: "Consolas","微软雅黑";
  min-height: 1500px;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
}

p {
  margin: 0;
}

table {
  border-collapse: collapse;
}

/* mixin */
.w, .questions, .questions .questions-list li, .operation-option .operation-option-list li a, .build-new button a, .edit-choose .add-question-type a, .task-list, .task-list table {
  width: 100%;
}

.h, nav .logo, .nav-list, .nav-list li, .operation-option .operation-option-list li a, .build-new button a, .edit-choose .add-question-type a {
  height: 100%;
}

.f-l, .nav-list {
  float: left;
}

.f-r {
  float: right;
}

.bold {
  font-weight: bold;
}

.stitle {
  font: 400 14px/14px "Consolas","微软雅黑";
}

.mtitle, .build-new button a span {
  font: 200 18px/18px "Consolas","微软雅黑";
}

.ltitle, nav .logo .logo-title {
  font: 200 25px/25px "Consolas","微软雅黑";
}

.c-s, nav .logo {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}

.none {
  display: none !important;
}

.nh {
  padding: 0 !important;
  height: 0 !important;
}

.clearfix {
  zoom: 1;
}

.clearfix::after {
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

nav {
  background: #EE7419;
  height: 47px;
}
nav .logo {
  float: left;
  width: 200px;
  margin: 0 0 0 80px;
  font-size: 0;
}
nav .logo img {
  margin: 0 5px 0 4px;
  vertical-align: middle;
}
nav .logo .logo-title {
  color: #fff;
  vertical-align: middle;
  text-align: center;
  line-height: 47px;
}

.nav-list {
  float: left;
  width: auto;
}
.nav-list li {
  display: inline-block;
  text-align: center;
  line-height: 37px;
  padding: 5px;
}
.nav-list li a {
  display: inline-block;
  height: 100%;
  color: #fff;
}
.nav-list li:hover a {
  color: #EE7419;
}
.nav-list li:hover {
  background: #fff;
}

.container {
  width: 1050px;
  margin: 70px auto 0;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 1px 0px #000;
  text-align: center;
  padding: 0 20px;
}

.questions {
  width: 970px;
  height: auto;
  overflow: hidden;
  margin: 20px auto;
}
.questions .questions-list {
  transition: 0.4s ease;
}
.questions .questions-list li {
  float: left;
  padding: 5px;
  transition: 0.4s ease;
}
.questions .questions-list li:hover {
  background: #fef1e8;
}
.questions .questions-list li:hover .ismust {
  opacity: 1;
}
.questions .questions-list li:hover .operation-option-list {
  opacity: 1;
}
.questions .questions-list li:hover .ac-options {
  opacity: 1;
}

.ac-options {
  float: right;
  width: 45px;
  font-size: 0;
  margin-right: 10px;
  opacity: 0;
  transition: 0.4s ease;
}
.ac-options img {
  cursor: pointer;
  margin-right: 2px;
}

.block-title {
  float: left;
  padding-left: 5px;
  text-align: left;
}
.block-title span {
  float: left;
}
.block-title .q-t {
  display: table-cell;
  margin-left: 8px;
  min-width: 30px;
  cursor: pointer;
}
.block-title .q-t:focus {
  background: #fff;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.ismust {
  float: right;
  opacity: 0;
  transition: 0.4s ease;
}
.ismust label {
  display: block;
  height: 100%;
  font-size: 0;
  cursor: pointer;
}
.ismust input {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 2px 5px 0 0;
}
.ismust span {
  font-size: 16px;
  vertical-align: top;
}

.operation-option {
  height: 34px;
}
.operation-option .operation-option-list {
  float: right;
  opacity: 0;
  transition: 0.4s ease;
}
.operation-option .operation-option-list li {
  width: 60px;
  float: left;
}
.operation-option .operation-option-list li a {
  display: block;
}
.operation-option .operation-option-list li:hover a {
  color: #EE7419;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.radio-block, .check-block {
  text-align: left;
}

.radio-block label, .check-block label {
  display: inline-block;
  padding-left: 50px;
}

.textarea-block {
  text-align: left;
  padding: 20px 0 0 50px;
}
.textarea-block textarea {
  width: 600px;
  height: 130px;
  resize: vertical;
  padding: 5px;
  font-family: "Consolas","微软雅黑";
}

.c-radio, .c-check-box {
  float: left;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 9px 5px 0 0;
}

.questions-title {
  min-width: 30px;
  height: 30px;
  float: left;
  background: transparent;
  text-align: left;
  padding: 5px;
  font-size: 16px;
  display: table-cell;
  cursor: pointer;
}
.questions-title:focus {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #fff;
}

.build-new {
  height: 325px;
  padding: 112px 0 0 0;
}
.build-new button {
  border-radius: 3px;
  background: #EE7419;
  width: 190px;
  height: 50px;
  border: none;
}
.build-new button a {
  display: block;
  text-align: center;
}
.build-new button a img {
  vertical-align: middle;
  margin: 0 5px 0 0;
}
.build-new button a span {
  color: #fff;
  vertical-align: middle;
  line-height: 50px;
}

.build-page {
  height: auto;
}

.edit-title {
  height: 100px;
  padding: 10px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}
.edit-title p {
  line-height: 80px;
  font-weight: bold;
}
.edit-title p:hover {
  background: #fef1e8;
}

.edit-choose {
  padding: 20px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}
.edit-choose .add-question {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.edit-choose .add-question-type {
  height: 70px;
  font-size: 0;
  padding: 16px;
  overflow: hidden;
  transition: 0.4s ease;
}
.edit-choose .add-question-type button {
  width: 100px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #eee;
  cursor: pointer;
  margin-right: 8px;
}
.edit-choose .add-question-type button:hover span {
  color: #EE7419;
}
.edit-choose .add-question-type button:hover {
  border: 1px solid #EE7419;
}
.edit-choose .add-question-type a {
  display: block;
}
.edit-choose .add-question-type img {
  vertical-align: middle;
  margin: -2px 5px 0 0;
}
.edit-choose .add-question-type span {
  vertical-align: middle;
  line-height: 35px;
  color: #8b8b8b;
  font-family: "Consolas","微软雅黑";
}
.edit-choose .add-a-question {
  height: 78px;
  background: #eee;
  font-size: 20px;
  cursor: pointer;
}
.edit-choose .add-a-question:hover span {
  color: #EE7419;
}
.edit-choose .add-a-question:hover .add-a-question-btn {
  background: url(../img/add-q-hover.png) no-repeat;
}
.edit-choose .add-a-question .add-a-question-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/add-q.png) no-repeat;
  vertical-align: middle;
}
.edit-choose .add-a-question span {
  vertical-align: middle;
  line-height: 78px;
}

.other-set {
  width: 970px;
  height: 110px;
  margin: auto;
}
.other-set .calendar-box {
  float: left;
  margin: 30px 0 0 70px;
}
.other-set .build-submit {
  float: right;
  margin: 30px 70px 0 0;
}
.other-set .build-submit button {
  width: 100px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #eee;
  cursor: pointer;
  font-family: "Consolas","微软雅黑";
  font-size: 16px;
}
.other-set .build-submit button:hover span {
  color: #EE7419;
}
.other-set .build-submit button:hover {
  border: 1px solid #EE7419;
}
.other-set .build-submit .push {
  background: #f07600;
  color: #fff;
}
.other-set .build-submit .push:hover span {
  color: #fff;
}

.task-list {
  height: 500px;
}
.task-list table {
  text-align: left;
}
.task-list table .task-list-thead {
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}
.task-list table .task-list-thead:hover {
  background: #fff;
}
.task-list table .tr-active {
  background: #fcf0e5;
}
.task-list table tr {
  display: inline-block;
  height: 55px;
  font-size: 0;
  padding-top: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  transition: 0.4s ease;
}
.task-list table tr:hover {
  background: #fcf0e5;
}
.task-list table tr td {
  display: inline-block;
  height: 43px;
  font-size: 16px;
}
.task-list table tr .task-list-radio-block {
  line-height: 15px;
  width: 55px;
}
.task-list table tr .task-list-radio-block input {
  margin-left: 20px;
}
.task-list table tr .task-list-title {
  width: 375px;
}
.task-list table tr .task-list-time {
  width: 195px;
}
.task-list table tr .task-list-stat {
  width: 120px;
}
.task-list table tr .task-list-stat .release {
  color: #55E344;
}
.task-list table tr .task-list-option {
  width: 265px;
}
.task-list table tr .task-list-option .task-list-option-new-build {
  background: #EE7419;
  margin: 0 5px 0 0;
  padding: 0 5px;
  height: 30px;
}
.task-list table tr .task-list-option .task-list-option-new-build a img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}
.task-list table tr .task-list-option .task-list-option-new-build a span {
  color: #fff;
  vertical-align: middle;
  line-height: 30px;
  font-family: "Consolas","微软雅黑";
  font-size: 16px;
  font-weight: 200;
}
.task-list table tr .task-list-option button {
  height: 27px;
  padding: 0 5px;
  float: right;
  border-radius: 3px;
  margin-right: 5px;
  padding: 0;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.task-list table tr .task-list-option button a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 27px;
  padding: 0 5px;
  font-family: "Consolas","微软雅黑";
}
.task-list table tfoot {
  display: block;
  padding: 5px;
}
.task-list table tfoot tr {
  display: block;
  height: 42px;
  border: none;
}
.task-list table tfoot tr:hover {
  background: #fff;
}
.task-list table tfoot tr td {
  height: 100%;
}
.task-list table tfoot tr td div {
  display: inline-block;
  height: 100%;
  font-size: 0;
}
.task-list table tfoot tr td div input {
  margin: 5px 21px 0 15px;
  vertical-align: bottom;
}
.task-list table tfoot tr td div span {
  font-size: 14px;
}
.task-list table tfoot tr td button {
  height: 27px;
  width: 65px;
  border: 1px solid #E271A5;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background: #fff;
  font-family: "Consolas","微软雅黑";
  transition: 0.4s ease;
}
.task-list table tfoot tr td button:hover {
  background: #E271A5;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
