<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

<!-- ie fucker -->
<!--[if lte IE 9]><meta http-equiv="refresh" content="0;url=/ie.html"><![endif]-->

<title>{{ page.title }} | {{ site.title }}</title>
<meta name="author" content="{{ site.author.name }}">

<!-- SEO优化 -->
{% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
{% endif %}

{% if page.description  %}
  <meta name="description " content="{{ page.description  }}">
{% endif %}

<link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

<link href="/pages/rss.xml" rel="alternate" title="{{site.title}}" type="application/atom+xml">

<!-- 字体图标框架 -->
<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
<!--引用代码高亮-->
<link type="text/css" rel="stylesheet" href="/assets/css/pygments.css"/>
