<aside id="sidebar">
  <!--侧边栏-->
  <nav id="tags">
    <a href="/index.html" id="avatar" ></a>

    <ul id="tags__ul">
      <li id="pl__all" class="tags__li tags-btn active">博文聚合</li>
      
      <!--遍历所有的 categories 属性标签 只要有就添加一个栏目-->
      {% for category in site.categories %} 
        <li id="{{ category[0] }}" class="tags__li tags-btn">{{ category[0] }}</li>
      {% endfor %}
    </ul>

      <!--侧边栏 底部 邮件发送 和 feed 按钮-->
    <div id="tags__bottom">
      <a href="mailto:469564715@qq.com" id="icon-email" class="tags-btn fontello"></a>
      <a href="/pages/rss.xml" id="icon-feed" class="tags-btn fontello"></a>
    </div>
  </nav> <!-- end #tags -->

  <!--目录-->
  <div id="posts-list">
    <form action="" id="search-form">
      <a href="/index.html" id="mobile-avatar"></a>
      <!-- NOTE: input field is disabled by default -->
      <input id="search-input" type="text" placeholder="Search..." disabled >
    </form>

    <nav id="pl__container">
    {% for post in site.posts %}
      <a class="{{ post.categories }} pl__all" href="{{ post.url }}"><span class="pl__circle"></span><span class="pl__title">{{ post.title }}</span><span class="pl__date">{{ post.date | date: "%b %Y" }}</span></a>
    {% endfor %}
    </nav>
  </div> <!-- end #posts-list -->
</aside> <!-- end #sidebar -->