<div id="post__share">
	<a id="icon-github" class="fontello" href="https://github.com/NumerHero" target="_blank"><i class="fa fa-github-alt"></i></a>

	<a id="icon-qq" class="fontello" href="http://creativecommons.org/licenses/by-nc-sa/3.0" target="_blank"><i class="fa fa-qq"></i></a>

	<a id="icon-weibo" class="fontello" href="http://v.t.sina.com.cn/share/share.php?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank"><i class="fa fa-weibo"></i></a>

	<a id="icon-weixin" class="fontello" href="javascript:" target="_blank">

		<div id="QR-Code">
			<img class="QR-img" src="/assets/img/weixin.png">
		</div>

		<i id = "weixin" class="fa fa-weixin"></i>

	</a>

</div> <!-- end #post__share -->


