.folder {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .content {
    padding-top: 44px;
  }
}

@media screen and (max-width: 768px) {
  body.close .sidebar-toggle {
    background-color: transparent;
  }
}